<div class="navbar flex align-items-center justify-content-between bg-indigo-600 p-3 text-white ">
    <div class="logo flex align-items-center gap-2">
        <i class="pi pi-android text-2xl "></i><span class="font-bold uppercase text-xl ">Logo</span>
    </div>
    <div class="links flex gap-4 ">
        <a routerLink="/" class="cursor-pointer"> <i class="pi pi-home"></i> Home</a>
        <a routerLink="/product-list" class="cursor-pointer"> <i class="pi pi-stop"></i> Products</a>
        <a routerLink="/signup" class="cursor-pointer"> <i class="pi pi-sign-in"></i> Signup</a>
    </div>
</div>