<!-- <app-route-comp></app-route-comp> -->
<!-- <app-product></app-product> -->

<!-- <app-signup></app-signup> -->

<!-- ROUTING -->
<!-- <app-homepage></app-homepage>
<router-outlet></router-outlet> -->

<!-- <app-ui-components></app-ui-components> -->

<!-- TEMPLATE DRIVEN FORM WHERE PRIME FORM ALSO IMPLEMENTED -->
<!-- <app-user-form></app-user-form> -->

<!-- REACTIVE FORMS -->
<!-- <app-myreactive-form></app-myreactive-form> -->

<!-- DECORATORS -->

<!-- <app-search></app-search> -->
<!-- <app-product-card-container></app-product-card-container> -->
<app-header></app-header>
<!-- <app-template></app-template> -->